help		b	main	HELP		0

port		=i	main	PORT		9931

apmonhost	=s	main	APMON_HOST	"localhost"
apmonport	=i	main	APMON_PORT	8884

configurl	=s	main	CONFIG_URL	"http://xrootd.t2.ucsd.edu:8080/xrootd_cms/host_to_site.pddd"

clusterprefix	=s	main	CLUSTER_PREFIX	"CMS::"

logfile		=s	main	LOG_FILE	"/var/log/xrootd/xrd-rep-snatcher"
loglevel	=i	main	LOG_LEVEL	1

daemon		!	main	DAEMON		1
pidfile		=s	main	PID_FILE	"/var/run/xrootd/xrd-rep-snatcher.pid"
